.container-recipes{
    // position: relative;
    
    // width: 100vw;
    // display :flex;
    
    // align-items: center;
    // justify-content: space-evenly;
    position: relative;
    width: 100vw;
    display: flex;
   // background-color: red;
    align-content: center;
    justify-content: center;
    
    
}
.cover{
    width: 91vw;
    display: flex;
    justify-content: space-between;
}

