.recipe__item{
   position: relative;
   margin: .3rem .3rem;
}

.recipes__item {
  width: var(--recipeWidth);
  height: var(--recipeHeight);
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255);
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  color: inherit;
  border: 0.5px solid transparent;
  

  

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &:hover {
    border: 0.4px solid rgba(157, 185, 204, 0.4);
  }

  &--active:link,
  &--active:visited {
    border: 0.3px solid #bcbcbc;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    // background-color: rgb(224,224,224);
  }

  &-image {
    width: 9rem;
    height: 8.6rem;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 50% 50%;
    // background-color: violet;
  }
  

  &-description {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 9rem;
    justify-content: space-evenly;
    // background-color: red;
  }

 

  &-caption {
    // width: 28.8rem;
    height: 4.8rem;
    overflow: hidden;
    font-size: 1.35rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

 

  &-title {
    max-width: 80%;
    // background-color: yellow;
    font-size: 1.6rem;
    height: 2.2rem;
    text-transform: capitalize;
    font-weight: 500;
  }
 
}
.like {
  // margin-left: 2.5rem;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  z-index: 2;
  height: 1.6rem;
  width: 1.6rem;
  fill: #064e80;
  cursor: pointer;

  // &:active ~ a{
  //     pointer-events: none;
  //     background-color: red;

  // }
}

@keyframes load {
  from {
    left: 0rem;
  }
  to {
    left: 100%;
  }
}

// .show {
//   animation: show 1.5s;
// }

// @keyframes show {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
